# ===============================================================
#  ENV 
# ===============================================================
DOMAIN=stg.enumverse.com
BASE_PATH=/srv/staging/enumverse/app
DATA_VOLUME=${BASE_PATH:?ERROR BASE_PATH NOT SET}/data
DATA_VOLUME_PG=${DATA_VOLUME}/postgres
DATA_VOLUME_KC=${DATA_VOLUME}/keycloak
DATA_VOLUME_PS=${DATA_VOLUME}/pulsar
DATA_VOLUME_MG=${DATA_VOLUME}/mongo

CONF_VOLUME=${BASE_PATH:?ERROR BASE_PATH NOT SET}/conf
CONF_VOLUME_PG=${CONF_VOLUME}/postgres
CONF_VOLUME_KC=${CONF_VOLUME}/keycloak
CONF_VOLUME_MG=${CONF_VOLUME}/mongo

# ===============================================================
# ENUMVERSE COMMON
# ===============================================================
ENUMVERSE_PULSAR_URL=pulsar://pulsar-broker:6650
ENUMVERSE_API_PORT=8080

# ===============================================================
# POSTGRES ENV 
# ===============================================================
POSTGRES_USER=user
POSTGRES_DB=postgres
POSTGRES_PORT=5432 #KC_DB_PORT=5432
POSTGRES_HOST=pg0 # KC_DB_HOST=keycloak_db
POSTGRES_PASSWORD=f3cb7aa8684aa7082010f5e40af640571ad2e53ae69341bb240d1d227bcd616e
PGUSER=replicator
PGPASSWORD=386a0bf2a810726b2c6903243781a6f081e5f33ecf639fe9c4c3e30fe1b8114f
REPLICATION_SLOT_1=replication_slot_1
REPLICATION_SLOT_2=replication_slot_2

# ===============================================================
# MONGODB  ENV 
# ===============================================================
MONGO_IMAGE=mongo:7.0.23
MONGO_PORT=27017
# DATA_VOLUME=${PWD}/data
# CONF_VOLUME=${PWD}/conf
MONGO_INITDB_ROOT_USERNAME=mongodb_root
MONGO_INITDB_ROOT_PASSWORD=cefc1be4aaab046782250453348bf99973afdfb8340fef0550593a0557ab46d6
MONGO_HOST=enumverse_mongodb
MONGO_DATABASE=enumverse
MONGO_USERNAME=mongodb_user
MONGO_PASSWORD=70f5f17554e8bf18e541ce9a3792b311a50dc3f5004dfc3342419aa01d649189
MONGO_REPLSET=enumverse_cluster
MONGOEXP_PORT=8081
MONGOEXP_USERNAME=mongoexp_user
MONGOEXP_PASSWORD=e03a69647237cdaffc60d4921fc8f3ffd3d68c11435b2d3fa032474f34a77881
MONGO_URL=mongodb://mg1:27017,mg2:27017,mg3:27017/${MONGO_DATABASE}?replicaSet=myReplicaSet&readPreference=primaryPreferred:w

# ===============================================================
#  PGPOOL 
# ===============================================================
PGPOOL_ENABLE_LDAP=no
PGPOOL_ADMIN_USERNAME=admin
PGPOOL_ADMIN_PASSWORD=12b5cf49013319b14f6d61ae800c63229b6fecc8486caf645c22f13b048ca8de
PGPOOL_PARAMS_PORT=9999

# ===============================================================
# KEYCLOAK ENV 
# ===============================================================
KC_DB_DATABASE=keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=c7fe78d6b66d195e6ba97036bf8786e1e003b4cf1d4e997c28a32c9cecb95757
# KC_HOSTNAME=https://idm.${DOMAIN:?ERROR DOMAIN NOT SET}
KC_BOOTSTRAP_ADMIN_USERNAME=bootstrap-admin
KC_BOOTSTRAP_ADMIN_PASSWORD=29b0992684cd166d7113771b9e3c70f614b23565c9129d8842b8e1291a68004b
# KC_BOOTSTRAP_ADMIN_USERNAME=idm-admin
# KC_BOOTSTRAP_ADMIN_PASSWORD=29b0992684cd166d7113771b9e3c70f614b23565c9129d8842b8e1291a68004b
KC_DB_HOST=pgpool
KC_DB_PORT=9999
# # KC_HOSTNAME=http://localhost:8082 # must be valid url
# # KC_DATA_VOLUME=${PWD}/keycloak/data
KC_DOMAIN=idm.${DOMAIN:?ERROR DOMAIN NOT SET}
KC_HOSTNAME=https://${KC_DOMAIN}
KC_HTTP_PORT=8080
# CONF_VOLUME=${PWD}/conf
# DATA_VOLUME=${PWD}/data
# DATA_VOLUME_KC=${DATA_VOLUME}/keycloak
# DATA_VOLUME_PG=${DATA_VOLUME}/postgres

# ===============================================================
#  IDM API VARIABLES 
# ===============================================================
IDM_API_IMAGE=357586184453.dkr.ecr.us-east-1.amazonaws.com/identity-management-service-backend:2508231107
IDM_API_PORT=${ENUMVERSE_API_PORT:-8080}
IDM_API_APPNAME=identity-management-service
IDM_API_PATH_PREFIX=/api/v2
IDM_DB_HOST=pg0 #pgpool
IDM_DB_PORT=5432 #${PGPOOL_PARAMS_PORT:?ERROR PGPOOL_PARAMS_PORT NOT SET}
IDM_DB_DATABASE=enumverse_idm
IDM_DB_USERNAME=idm_user
IDM_DB_PASSWORD=bdd30134e8ba928fbd4aa3427f9957a73cdb3c43ebacbfb0cb265a48ed18d758
# IDM_DB_URL=jdbc:postgresql://${IDM_DB_HOST:?ERROR IDM_DB_HOST NOT SET}:${IDM_DB_PORT:?ERROR IDM_DB_PORT NOT SET}/${IDM_DB_DATABASE:?ERROR IDM_DB_DATABASE NOT SET}
IDM_PULSAR_URL=${ENUMVERSE_PULSAR_URL:? ERROR ENUMVERSE_PULSAR_URL NOT SET}
API_PROFILE=prod
IDM_KEYCLOAK_PASSWORD=2ylBeTFTXcQIEraxwwtee # ${KC_BOOTSTRAP_ADMIN_PASSWORD:?ERROR KC_BOOTSTRAP_ADMIN_PASSWORD NOT SET}
IDM_KEYCLOAK_USERNAME=dsakjhdsfkjhf # ${KC_BOOTSTRAP_ADMIN_USERNAME:?ERROR KC_BOOTSTRAP_ADMIN_USERNAME NOT SET}
IDM_KEYCLOAK_REALM=enumverse-prod
IDM_KEYCLOAK_MASTER_REALM=master
IDM_KEYCLOAK_SERVER_URL=https://mantra.enum.africa #https://idm.enumverse.dev
IDM_KEYCLOAK_CLIENT_ID=enum
IDM_KEYCLOAK_CLIENT_SECRET=6k1gZGeh5d06dAcwAz1zY44GZbdLysO5 # LihUsFXPHhFLVPLLNs6DRqBrhfxR6oBR
IDM_KEYCLOAK_BASE_CLIENT=enum
IDM_SUPER_ADMIN_EMAIL=qa@semicolon.africa
IDM_SUPER_ADMIN_PASSWORD=Password321$
IDM_SUPER_ADMIN_FIRSTNAME=QA
IDM_SUPER_ADMIN_LASTNAME=Admin
IDM_ENUM_BACKEND_BASE_URL=https://enumverse.dev/identity
IDM_SUPPORT_EMAIL=techsupport@enumverse.com
IDM_LOG_LEVEL=DEBUG
IDM_ALLOWED_ORIGINS=idm.enumverse.dev
IDM_GOOGLE_CLIENT_ID=
IDM_GOOGLE_SECRET=
IDM_GOOGLE_SCOPE=


# ===============================================================
#  ASSESSMENT API VARIABLES 
# ===============================================================
ASSESSMENT_API_IMAGE=357586184453.dkr.ecr.us-east-1.amazonaws.com/identity-management-service-backend:beta-13-08-2025
ASSESSMENT_API_PORT=${ENUMVERSE_API_PORT:-8080}
ASSESSMENT_DB_HOST=pgpool
ASSESSMENT_DB_PORT=${PGPOOL_PARAMS_PORT:?ERROR PGPOOL_PARAMS_PORT NOT SET}
ASSESSMENT_DB_DATABASE=enumverse_idm
ASSESSMENT_DB_USERNAME=idm_user
ASSESSMENT_DB_PASSWORD=bdd30134e8ba928fbd4aa3427f9957a73cdb3c43ebacbfb0cb265a48ed18d758
ASSESSMENT_DB_URL=jdbc:postgresql://${IDM_DB_HOST:?ERROR IDM_DB_HOST NOT SET}:${IDM_DB_PORT:?ERROR IDM_DB_PORT NOT SET}/${IDM_DB_DATABASE:?ERROR IDM_DB_DATABASE NOT SET}
ASSESSMENT_PULSAR_URL=${ENUMVERSE_PULSAR_URL:? ERROR ENUMVERSE_PULSAR_URL NOT SET}
