# ===============================================================
# POSTGRES ENV 
# ===============================================================
# KC_DB=postgres
POSTGRES_USER=user
POSTGRES_DB=postgres
POSTGRES_PORT=5432 #KC_DB_PORT=5432
POSTGRES_HOST=postgres_primary # KC_DB_HOST=keycloak_db
POSTGRES_PASSWORD=f3cb7aa8684aa7082010f5e40af640571ad2e53ae69341bb240d1d227bcd616e
PGUSER=replicator
PGPASSWORD=386a0bf2a810726b2c6903243781a6f081e5f33ecf639fe9c4c3e30fe1b8114f
REPLICATION_SLOT_1=replication_slot_1
REPLICATION_SLOT_2=replication_slot_2
# PGPOOL_SR_CHECK_USER=customuser
# PGPOOL_SR_CHECK_PASSWORD=custompassword
PGPOOL_ENABLE_LDAP=no
# PGPOOL_POSTGRES_USERNAME=postgres
# PGPOOL_POSTGRES_PASSWORD=adminpassword
PGPOOL_ADMIN_USERNAME=admin
PGPOOL_ADMIN_PASSWORD=12b5cf49013319b14f6d61ae800c63229b6fecc8486caf645c22f13b048ca8de
# ===============================================================
#  ENV 
# ===============================================================
DATA_VOLUME=${PWD}/data
